extends layout.pug

block head_added
  link(href="/css/kstyles.css" rel="stylesheet")

block content
  .main
    .container
      h1!= content
    .container.container-subnav
      .grid
        div(class="grid__cell u-1/4--larger")
          ul
            each contentBlock in contentBlocks
              - var headinglink = '#'+contentBlock.filename
              - var heading = contentBlock.heading
              li
                a(href=headinglink) !{heading}
        div(class="grid__cell u-3/4--larger")
          each contentBlock in contentBlocks
            - var header = contentBlock.heading
            - var headingId = contentBlock.filename
            - var blockContent = contentBlock.content
            span(id=!{headingId})
            div!= blockContent
            p &nbsp;
            p &nbsp;
            p &nbsp;


